@model eClassBook.Services.DTOs.SchoolUserDTOs.ParentDTO

@{
    this.ViewData["Title"] = "Add new Parent!";
}

<h1 class="offset-md-5 mt-4">@this.ViewData["Title"]</h1>

<form method="post" class="col-md-6 offset-md-3">
    <div class="form-group" asp-validation-summary="All">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group" asp-validation-summary="All">
        <label asp-for="SecondName"></label>
        <input asp-for="SecondName" class="form-control" />
        <span asp-validation-for="SecondName" class="text-danger"></span>
    </div>
    <div class="form-group" asp-validation-summary="All">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group" asp-validation-summary="All">
        <label asp-for="Pin"></label>
        <input asp-for="Pin" class="form-control" />
        <span asp-validation-for="Pin" class="text-danger"></span>
    </div>
    <div class="form-group" asp-validation-summary="All">
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group" asp-validation-summary="All">
        <label asp-for="Town"></label>
        <input asp-for="Town" class="form-control" />
        <span asp-validation-for="Town" class="text-danger"></span>
    </div>

    <!--School id

    <div class="form-group" asp-validation-summary="All">
        <label asp-for="GradeLetter"></label>
        <input asp-for="GradeLetter" class="form-control" />
        <span asp-validation-for="GradeLetter" class="text-danger"></span>
    </div>

    -->

    <input type="submit" class="btn btn-primary"/>
</form>

