@model eClassBook.ViewModels.User.UserViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>get school user by id</h1>


    <div>
        <p>First Name: @Model.FullName/p>
        <p>Role Name: @Model.Role</p>
        <p>SchoolUserId: @Model.SchoolUserId</p>
    </div>
