@model IEnumerable<eClassBook.Services.DTOs.SchoolUserDTOs.MinimalSchoolUserDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Get all unasigned</h1>

@foreach (var item in @Model)
{
    <p>@item.Id</p>
    <p>@item.FirstName</p>
    <p>@item.SecondName</p>
    <p>@item.LastName</p>
}
